@import 'App';

.header{
  width: 100%;
  box-sizing: border-box;
  background: $blueLight;
  &__container{
    display: flex;
    width: 100%;
    height: 75px;
    box-sizing: border-box;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: row;

    &-nav-menu{
      display: flex;
      align-items: center;
      &-list{
        display: flex;
        gap: 37px;

        &-element{
          &-text{
            color: $white;
            font-family: Inter, serif;
            font-size: 22px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            cursor: pointer;
            position: relative;
            transition: color 0.4s, transform 0.4s, text-shadow 0.4s;

            &:before {
              content: "";
              position: absolute;
              bottom: 0;
              left: 0;
              width: 100%;
              height: 3px;
              background-color: $yellow;
              transform: scaleX(0);
              transform-origin: bottom right;
              transition: transform 0.4s;
            }

            &:hover {
              color: $yellow;
              text-shadow: 0 0 10px $darkYellow;
              transform: scale(1.1);

              &:before {
                transform: scaleX(1);
                transform-origin: bottom left;
              }
            }

            &:active {
              color: $orange;
            }
          }
        }
      }
    }
  }
}

.burger-menu {
  display: none;
  cursor: pointer;

  .bar {
    width: 30px;
    height: 3px;
    background-color: $white;
    margin: 6px 0;
    transition: 0.4s;

    &:nth-child(1) {
      transform-origin: 0 0;
    }
    &:nth-child(2) {
      transform-origin: 0 0;
    }
    &:nth-child(3) {
      transform-origin: 0 100%;
    }

    &.open {
      &:nth-child(1) {
        transform: rotate(-45deg) translate(-9px, 20px);
      }
      &:nth-child(2) {
        opacity: 0;
      }
      &:nth-child(3) {
        transform: rotate(45deg) translate(-9px, -19px);
      }
    }
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $blackOpacityLow;
  z-index: 2;
  display: none;
}

@media (max-width: 1000px) {
  .burger-menu {
    display: block;
    margin-right: 10px;
    z-index: 2;
    right: 10px;
  }

  .header{
    &__container{
      justify-content: end;

      &-nav-menu{
        &-list{
          display: flex;
          flex-direction: column;
          background: $blueLight;
          width: 35vw;
          height: 100vh;
          top: 0;
          position: fixed;
          z-index: 2;
          right: -350px;
          padding: 70px 0 70px 80px;
          transition: right 0.3s;

          &.open {
            right: 0;
          }
      }
    }
  }
 }
  .overlay {
    display: block;
  }
}

@media (max-width: 720px) {
  .header{
    &__container{
      &-nav-menu{
        &-list{
          width: 100%;
          right: -800px;
        }
      }
    }
  }
  .overlay {
    display: none;
  }
}