.header{
  width: 100%;
  box-sizing: border-box;
  background: #245EF4;
  position: fixed;
  &__container{
    display: flex;
    width: 100%;
    height: 75px;
    box-sizing: border-box;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: row;

    &-nav-menu{
      display: flex;
      align-items: center;
      &-list{
        display: flex;
        gap: 37px;

        &-element{
          &-text{
            color: #FFF;
            font-family: Inter, serif;
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
          }
        }
      }
    }
  }
}