.main__left{
  border-radius: 0 25px 25px 0;
  background: #D9D9D9;
}

.basic_information{
  width: 348px;
  padding-top: 36px;
  &__container{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    &_photo{
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      align-items: center;
    }

    &_title__wrap{
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 39px;
      margin-top: 39px;
    }

    &_skills{
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 39px;

      &_contain{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 24px;
        max-width: 240px;
      }
    }

    &_education{
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 33px;

      &-text{
        color: #000;
        font-family: Inter, serif;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding-left: 20px;
      }
    }
    &_courses{
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 39px;

      &-text{
        color: #000;
        font-family: Inter, serif;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding: 0 20px 15px 20px;

        & > a:hover{
          color: #0049ff;
        }

        & > a:active{
          color: #4178ff;
        }
      }

      &-contain{
        display: flex;
        align-items: flex-start;
        flex-direction: column;
      }
    }

    &_language{
      display: flex;
      flex-direction: column;
      align-items: center;

      &-contain{
        display: flex;
        flex-direction: row;
        align-items: center;

        &_img{
          padding-left: 20px;
          padding-right: 15px;
          padding-bottom: 15px;
        }

        &_text{
          color: #000;
          font-family: Inter, serif;
          font-size: 26px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          padding-bottom: 15px;
        }
      }
    }

    &_contact{
      display: flex;
      flex-direction: column;
      align-items: center;

      &-contain{
        display: flex;
        flex-direction: row;
        align-items: center;

        &_link{
          display: flex;
          align-items: center;
        }

        &_img{
          padding-left: 20px;
          padding-right: 15px;
          padding-bottom: 15px;

          &:hover{
            filter: invert(1);
          }
        }

        &_text{
          color: #000;
          font-family: Inter, serif;
          font-size: 20px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          padding-bottom: 15px;

          &:hover{
            color: #0049ff;
          }

          &:active{
            color: #4178ff;
          }
        }
      }
    }
  }
}

.title{
  color: #000;
  font-family: Inter, serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  box-sizing: border-box;
  margin: 0 auto;
  text-align: center;
  border: 2px solid #000000;
  border-radius: 20px;
  position: relative;
  padding: 27px 0;
  width: 100%;
  max-width: 94%;

  &:before{
    content: "Front-end Developer";
    position: absolute;
    font-size: 18px;
    line-height: 30px;
    bottom: -9px;
    left: 0;
    right: 0;
    text-align: center;
    width: 194px;
    margin: 0 auto;
    background: #D9D9D9;
    color: #000
  }
}

.title-main{
  color: #000;
  font-family: Inter, serif;
  text-transform: uppercase;
  font-size: 30px;
  font-style: normal;
  display: flex;
  font-weight: 400;
  width: 250px;
  line-height: normal;
  border-bottom: 1px solid #1B1B1B;
  justify-content: center;
  margin-bottom: 16px;
}

.skills{
  list-style-type: none;
  width: 96px;
  height: 92px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  &:before{
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 0;
    width: 96px;
    height: 92px;
    border-radius: 50%;
    background-image: linear-gradient(270deg, transparent 50%, #fff 50%), linear-gradient(145deg, #1B1B1B 50%, #fff 50%);
  }

  &:nth-child(3):before{
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 0;
    width: 96px;
    height: 92px;
    border-radius: 50%;
    background-image: linear-gradient(270deg, transparent 50%, #fff 50%), linear-gradient(184deg, #1B1B1B 50%, #fff 50%);
  }

  &:nth-child(4):before{
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 0;
    width: 96px;
    height: 92px;
    border-radius: 50%;
    background-image: linear-gradient(270deg, transparent 50%, #fff 50%), linear-gradient(169deg, #1B1B1B 50%, #fff 50%);
  }

  &:nth-child(5):before{
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 0;
    width: 96px;
    height: 92px;
    border-radius: 50%;
    background-image: linear-gradient(270deg, transparent 50%, #fff 50%), linear-gradient(219deg, #1B1B1B 50%, #fff 50%);
  }

  &:nth-child(6):before{
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 0;
    width: 96px;
    height: 92px;
    border-radius: 50%;
    background-image: linear-gradient(270deg, transparent 50%, #fff 50%), linear-gradient(182deg, #1B1B1B 50%, #fff 50%);
  }

  &::after{
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 7px;
    left: 7px;
    width: 82px;
    height: 78px;
    border-radius: 50%;
    background: #D9D9D9;
  }

  &_img{
    box-sizing: border-box;
    width: 50px;
    z-index: 1;
  }
}

@media (max-width: 1000px) {
  .main__left{
    border-radius: 0 25px 25px 0;
    background: #ffffff;
    height: 100%;
  }

  .basic_information{
    width: 100%;
    box-sizing: border-box;
    padding-top: 36px;

    &__container{
      align-items: center;

      &_skills{
        width: 100%;
        box-sizing: border-box;
        background: #D9D9D9;
        margin-top: 15px;
        margin-bottom: 0;

        &_contain{
          max-width: 340px;
        }

        &-title{
          display: flex;
          margin-top: 10px;
          width: 100%;
          box-sizing: border-box;
          justify-content: center;
        }
      }

      &_contact{
        display: none;

        &-contain{
          &_img{
            padding: 13px 15px 3px 20px;
          }

          &_text{
            display: none;
          }
        }
      }

      &_education{
        background: #D9D9D9;
        width: 100%;
        box-sizing: border-box;
        margin-bottom: 0;

        &-title{
          margin-top: 18px;
          display: flex;
          width: 100%;
          box-sizing: border-box;
          justify-content: center;
        }

        &-text{
          padding-left: 10px;
          padding-right: 10px;
        }
      }

      &_courses{
        background: #D9D9D9;
        width: 100%;
        box-sizing: border-box;
        margin-bottom: -1px;

        &-title{
          margin-top: 18px;
          display: flex;
          width: 100%;
          box-sizing: border-box;
          justify-content: center;
        }

        &-text{
          padding: 0 0 15px 0;
        }
      }

      &_language{
        background: #D9D9D9;
        width: 100%;
        box-sizing: border-box;
        margin-bottom: 0;

        &-title{
          margin-top: 18px;
          display: flex;
          width: 100%;
          box-sizing: border-box;
          justify-content: center;
        }

        &-text{
          padding: 0 0 15px 0;
        }
      }
    }
  }

  .title{
    width: 330px;
    &:before{
      position: absolute;
      font-size: 18px;
      line-height: 30px;
      bottom: -9px;
      left: 0;
      right: 0;
      text-align: center;
      width: 227px;
      margin: 0 auto;
      background: #ffffff;
      color: #000;
    }
  }

  .contact{
    display: flex;
    flex-direction: row-reverse;
    position: absolute;
    top: 474px;
    border-left: 2px solid #000000;
    border-right: 2px solid #000000;
  }

  .language{
    width: 100%;
    background: #D9D9D9;
  }
}

@media (max-width: 500px) {
  .language{
    width: 100%;
    align-items: start;
  }

  .basic_information__container_courses-text {
    padding: 0 10px 15px 10px;
  }
}


